html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --header: #f9f8f8;
  --navbarfont: #444444;
  --borderline: #e8e8e8;
  --mainbody: #f5f4f4;
  --iconsfont: #aaaaaa;
  --pagebutton: #ca5c3c;
  --pagebuttonwhite1: #f3f2f2;
  --pagebuttonborder: #eeeeee;
  --bottomborderblack: #222222;
  --bottomfootertext: #797878;
  --articleheadertext: #d37755;
  --paragraphcolor: #7e7d7d;
  --buttonborder: #d98871;
  --buttontransitions: ;
  transition: all 250ms ease;
}

body {
  min-height: 100vh;
  border: 0;
  margin: 0;
  background-color: var(--mainbody);
  width: 100%;
  position: absolute;
}
header {
  display: flex;
  border-bottom: 1px solid var(--borderline);
  background-color: var(--header);
  width: 100%;
  top: 0;
  left: 0;
  height: 61px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 375px;
  margin-left: 150px;
  padding: 0 1px;
  background-color: var(--header);
}
.navbar > a {
  text-decoration: none;
  color: var(--navbarfont);
  font-family: "Lato", sans-serif;
  font-size: 11px;
  font-weight: bold;
  margin: 0;
  width: 100;
  letter-spacing: 1px;
}
.header-social-icons {
  display: flex;
  align-items: center;
  width: 200px;
  text-decoration: none;
  margin-left: 42.4%;
  padding: 0 1px;
  color: var(--iconsfont);
  font-size: 13px;
  font-weight: bolder;
  background-color: var(--header);
  list-style-type: none;
}
.social-icons {
  text-decoration: none;
  color: var(--iconsfont);
  font-size: 13px;
  font-weight: bolder;
  background-color: var(--header);
  list-style-type: none;
}
.social-icons > .fa.fa-facebook:hover {
  font-size: 20px;
  background-position: 0;
}
.social-icons > .fa-brands.fa-twitter:hover {
  font-size: 20px;
  background-position: 0;
}
.social-icons > .fa-brands.fa-instagram:hover {
  font-size: 20px;
  background-position: 0;
}
.social-icons > .fa-brands.fa-pinterest:hover {
  font-size: 20px;
  background-position: 0;
}
.social-icons > .fa-brands.fa-google-plus-g:hover {
  font-size: 20px;
  background-position: 0;
}
.social-icons > .fa-solid.fa-magnifying-glass:hover {
  font-size: 28px;
  color: #000000;
}
.social-icons > a.fa.fa-facebook {
  color: var(--iconsfont);
  text-decoration: inherit;
  background-image: linear-gradient(
    to right,
    #0165e1,
    #17a9fd 50%,
    var(--iconsfont) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.1s ease-in-out;
}
.social-icons > a.fa-brands.fa-twitter {
  color: var(--iconsfont);
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    #1d9bf0,
    #1d9bf0 50%,
    var(--iconsfont) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.1s ease-in-out;
  margin-left: 17px;
}
.fa-brands.fa-instagram {
  color: var(--iconsfont);
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    #405de6,
    #5851db 5%,
    #833ab4 10%,
    #c13584 15%,
    #e1306c 20%,
    #fd1d1d 25%,
    #f56040 30%,
    #f77737 35%,
    #fcaf45 40%,
    #ffdc80 45%,
    var(--iconsfont) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.1s ease-in-out;
  margin-left: 13px;
}
.fa-brands.fa-pinterest {
  color: var(--iconsfont);
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    #e60023,
    #e60023 50%,
    var(--iconsfont) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.1s ease-in-out;
  margin-left: 15px;
}
.fa-brands.fa-google-plus-g {
  color: var(--iconsfont);
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    #00ac47,
    #00832d 8%,
    #ffba00 16%,
    #e94235 24%,
    #2684fc 32%,
    #0066da 40%,
    var(--iconsfont) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.1s ease-in-out;
  margin-left: 13px;
}
.fa-solid.fa-magnifying-glass {
  color: var(--iconsfont);
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  margin-left: 19px;
}
.nav1 {
  align-content: center;
}
main {
  display: flex;
  width: 100%;
}
.article-blocks {
  display: flex;
  flex-direction: column;
  width: 752px;
  padding: 0;
  margin-left: 149px;
  margin-top: 51px;
  margin-bottom: 0px;
  border-radius: 1px;
  list-style-type: none;
}
.article1 {
  height: 923px;
  margin-bottom: 49px;
  background-color: #ffffff;
  border: 1px solid var(--borderline);
}
.article2 {
  height: 925px;
  margin-bottom: 48px;
  background-color: #ffffff;
  border: 1px solid var(--borderline);
}
.article3 {
  height: 951px;
  margin-bottom: 48px;
  background-color: #ffffff;
  border: 1px solid var(--borderline);
}
.article4 {
  height: 924px;
  background-color: #ffffff;
  border: 1px solid var(--borderline);
  margin-bottom: 48px;
}
.family1 {
  max-height: 472px;
  width: 100%;
}
.guys1 {
  max-height: 474px;
}
.piggyback1 {
  max-height: 500px;
  width: 100%;
}
.arizona1 {
  max-height: 474px;
  width: 100%;
}
.article-content {
  height: 100%;
}
.small-heading {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Lato";
  color: var(--articleheadertext);
  font-size: 11.5px;
  letter-spacing: 0.8px;
  margin-top: 45px;
  margin-bottom: 0;
}
.big-heading {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Oswald";
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-top: 8px;
  margin-bottom: 0;
  color: #444444;
}
.article-content > p {
  display: flex;
  font-family: "Lato";
  color: #7e7d7d;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 0;
  margin-left: 39px;
  margin-right: 39px;
  margin-top: 23px;
  height: 150px;
}
.article-button {
  display: flex;
  color: var(--articleheadertext);
  border: 1px solid var(--buttonborder);
  background-color: #ffffff;
  padding: 11px 18px;
  margin-left: 288px;
  margin-top: 9px;
  font-weight: bold;
  transition: all 250ms ease;
}
.article-button:hover {
  background-color: var(--buttonborder);
  color: #ffffff;
}
.date-plus-icons {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e8e8e8;
  list-style-type: none;
  padding-top: 18px;
  padding-left: 0;
  margin-left: 39px;
  margin-right: 40px;
  margin-top: 40px;
}
.name-date {
  font-family: "lato";
  font-size: 14px;
  color: #7e7d7d;
}
.article-icons {
  display: flex;
  align-items: center;
  color: #c2c2c2;
  padding-left: 0;
  padding-top: 5px;
  letter-spacing: 0.5px;
}
.article-icons > .fa-brands.fa-twitter {
  margin-left: 15px;
}
.article-icons > .fa-brands.fa-instagram {
  margin-left: 15px;
}
.article-icons > .fa-brands.fa-pinterest {
  margin-left: 16px;
}
.article-icons > .fa-brands.fa-google-plus-g {
  margin-left: 15px;
}
.side-blocks {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 362px;
  padding: 0;
  margin-left: 28px;
  margin-top: 51px;
  margin-bottom: 0px;
  border-radius: 1px;
}

.side1 {
  height: 546px;
  margin-bottom: 38px;
  background-color: #ffffff;
  border: 1px solid var(--borderline);
}
.side2 {
  height: 987px;
  margin-bottom: 38px;
  background-color: #ffffff;
  border: 1px solid var(--borderline);
}
.side3 {
  height: 516px;
  margin-bottom: 38px;
  background-color: #ffffff;
  border: 1px solid var(--borderline);
}
.side4 {
  height: 576px;
  background-color: #ffffff;
  margin-bottom: 48px;
  border: 1px solid var(--borderline);
}

.page-buttons {
  display: flex;
  padding: 0;
  margin-left: 150px;
}
.button1 {
  background-color: var(--pagebutton);
  height: 34px;
  width: 32px;
  border: none;
  color: var(--pagebuttonwhite1);
  font-family: "Oswald";
  font-size: 15.5px;
  transition: all 250ms ease;
}
.button2 {
  background-color: #ffffff;
  height: 35px;
  width: 35px;
  border: none;
  color: #444444;
  font-family: "Oswald";
  font-size: 15.5px;
  margin-left: 5px;
  padding: 0;
  border: 1px solid var(--pagebuttonborder);
  font-size: 15px;
  transition: all 250ms ease;
}
.button3 {
  background-color: #ffffff;
  height: 35px;
  width: 35px;
  border: none;
  color: #444444;
  font-family: "Oswald";
  font-size: 15.5px;
  margin-left: 5px;
  padding: 0;
  border: 1px solid var(--pagebuttonborder);
  font-size: 15px;
  margin-bottom: 1px;
  transition: all 250ms ease;
}
.button4 {
  background-color: #ffffff;
  height: 35px;
  width: 35px;
  border: none;
  color: #444444;
  font-family: "Oswald";
  font-size: 15.5px;
  margin-left: 5px;
  padding: 0;
  border: 1px solid var(--pagebuttonborder);
  font-size: 15px;
  margin-bottom: 2px;
  transition: all 250ms ease;
}
.button5 {
  background-color: #ffffff;
  height: 35px;
  width: 35px;
  border: none;
  color: #444444;
  font-family: "Oswald";
  font-size: 15.5px;
  margin-left: 5px;
  padding: 0;
  border: 1px solid var(--pagebuttonborder);
  font-size: 15px;
  margin-bottom: 1px;
  width: 42px;
  transition: all 250ms ease;
}
.button1:hover {
  background-color: rgb(82, 190, 202);
}
.button2:hover {
  background-color: rgb(173, 235, 242);
  color: #ffffff;
}
.button3:hover {
  background-color: rgb(173, 235, 242);
  color: #ffffff;
}
.button4:hover {
  background-color: rgb(173, 235, 242);
  color: #ffffff;
}
.button5:hover {
  background-color: rgb(173, 235, 242);
  color: #ffffff;
}
.footer-content {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 0;
  margin-top: 85px;
  height: 324px;
  background-color: #ffffff;
  border-top: 1px solid #eeeeee;
}
.footer-top {
  font-family: "Oswald";
  font-size: 18.5px;
  text-align: center;
  align-content: center;
  font-weight: 425;
  letter-spacing: 0.2px;
  width: 100%;
  height: 78px;
  padding-top: 26px;
  color: #444444;
}
.footer-pictures {
  display: flex;
  flex-wrap: wrap;
  height: 180px;
  width: 100%;
  padding: 0;
  justify-content: space-between;
  flex-basis: content;
  list-style-type: none;
}
.image-line {
  flex-grow: 1;
}
img {
  max-height: 181px;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  transition: 0.1s ease-in-out;
}
.footer-bottom {
  font-family: "Lato";
  font-size: 13px;
  text-align: center;
  align-content: center;
  font-weight: 425;
  letter-spacing: 0.45px;
  width: 100%;
  height: 65px;
  padding-top: 26px;
  color: var(--bottomfootertext);
  background-color: var(--bottomborderblack);
}
/* img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
  border: 2px solid #ffffff;
} */
