html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --header: #f9f8f8;
  --navbarfont: #444444;
  --borderline: #e8e8e8;
  --mainbody: #f5f4f4;
  --iconsfont: #aaaaaa;
  --pagebutton: #ca5c3c;
  --pagebuttonwhite1: #f3f2f2;
  --pagebuttonborder: #eeeeee;
  --bottomborderblack: #222222;
  --bottomfootertext: #797878;
  --articleheadertext: #d37755;
  --paragraphcolor: #7e7d7d;
  --buttonborder: #d98871;
  --buttontransitions: ;
  transition: all 250ms ease;
}

body {
  min-height: 100vh;
  border: 0;
  margin: 0;
  background-color: var(--mainbody);
  width: 100%;
}
header {
  display: flex;
  border-bottom: 1px solid var(--borderline);
  background-color: var(--header);
  width: 100%;
  top: 0;
  left: 0;
  height: 62px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 26%;
  margin-left: 150px;
  padding: 0 1px;
  background-color: var(--header);
}
.navbar > a {
  text-decoration: none;
  color: var(--navbarfont);
  font-family: "Lato", sans-serif;
  font-size: 11px;
  font-weight: bold;
  margin: 0;
  width: 100;
  letter-spacing: 1px;
  transition: 0.3s;
}
.navbar > a:hover {
  color: #be6748;
}
.header-social-icons {
  display: flex;
  align-items: center;
  width: 200px;
  text-decoration: none;
  margin-left: 42.4%;
  padding: 0 1px;
  color: var(--iconsfont);
  font-size: 13px;
  font-weight: bolder;
  background-color: var(--header);
  list-style-type: none;
}
.social-icons {
  text-decoration: none;
  color: var(--iconsfont);
  font-size: 13px;
  font-weight: bolder;
  background-color: var(--header);
  list-style-type: none;
  transition: 0.3s;
}
.social-icons:hover {
  color: #be6748;
}
.social-icons > .fa.fa-facebook:hover {
  background-position: 0;
}
.social-icons > .fa-brands.fa-twitter:hover {
  background-position: 0;
}
.social-icons > .fa-brands.fa-instagram:hover {
  background-position: 0;
}
.social-icons > .fa-brands.fa-pinterest:hover {
  background-position: 0;
}
.social-icons > .fa-brands.fa-google-plus-g:hover {
  background-position: 0;
}
.social-icons > .fa-solid.fa-magnifying-glass:hover {
  color: #be6748;
}
.social-icons > .fa.fa-facebook {
  color: var(--iconsfont);
  text-decoration: inherit;
  background-image: linear-gradient(
    to right,
    #be6748,
    #be6748 50%,
    var(--iconsfont) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.1s ease-in-out;
}
.social-icons > .fa-brands.fa-twitter {
  color: var(--iconsfont);
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    #be6748,
    #be6748 50%,
    var(--iconsfont) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.1s ease-in-out;
  margin-left: 17px;
}
.social-icons > .fa-brands.fa-instagram {
  color: var(--iconsfont);
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    #be6748,
    #be6748 50%,
    var(--iconsfont) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.1s ease-in-out;
  margin-left: 13px;
}
.social-icons > .fa-brands.fa-pinterest {
  color: var(--iconsfont);
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    #be6748,
    #be6748 50%,
    var(--iconsfont) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.1s ease-in-out;
  margin-left: 15px;
}
.social-icons > .fa-brands.fa-google-plus-g {
  color: var(--iconsfont);
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    #be6748,
    #be6748 50%,
    var(--iconsfont) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.1s ease-in-out;
  margin-left: 13px;
}
.social-icons > .fa-solid.fa-magnifying-glass {
  color: var(--iconsfont);
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  margin-left: 19px;
}
.nav1 {
  align-content: center;
}
main {
  display: flex;
  width: 100%;
}
.article-blocks {
  display: flex;
  flex-direction: column;
  width: 52.2%;
  padding: 0;
  margin-left: 149px;
  margin-top: 51px;
  margin-bottom: 0px;
  border-radius: 1px;
  list-style-type: none;
}
.article1 {
  height: 923px;
  margin-bottom: 49px;
  background-color: #ffffff;
  border: 1px solid var(--borderline);
}
.article2 {
  height: 925px;
  margin-bottom: 48px;
  background-color: #ffffff;
  border: 1px solid var(--borderline);
}
.article3 {
  height: 951px;
  margin-bottom: 48px;
  background-color: #ffffff;
  border: 1px solid var(--borderline);
}
.article4 {
  height: 924px;
  background-color: #ffffff;
  border: 1px solid var(--borderline);
  margin-bottom: 48px;
}
.family1 {
  max-height: 472px;
  width: 100%;
}
.guys1 {
  max-height: 474px;
  width: 100%;
}
.piggyback1 {
  max-height: 500px;
  width: 100%;
}
.arizona1 {
  max-height: 474px;
  width: 100%;
}
.article-content {
  height: 100%;
}
.small-heading {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Lato";
  color: var(--articleheadertext);
  font-size: 11.5px;
  letter-spacing: 0.8px;
  margin-top: 45px;
  margin-bottom: 0;
}
.big-heading {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Oswald";
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-top: 8px;
  margin-bottom: 0;
  color: #444444;
}
.article-content > p {
  display: flex;
  font-family: "Lato";
  color: #7e7d7d;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 0;
  margin-left: 39px;
  margin-right: 39px;
  margin-top: 23px;
  height: 150px;
}
.article-button {
  display: flex;
  color: var(--articleheadertext);
  border: 1px solid var(--buttonborder);
  background-color: #ffffff;
  padding: 11px 18px;
  margin-left: 288px;
  margin-top: 9px;
  font-weight: bold;
  transition: all 250ms ease;
}
.article-button:hover {
  background-color: var(--buttonborder);
  color: #ffffff;
}
.date-plus-icons {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e8e8e8;
  list-style-type: none;
  padding-top: 18px;
  padding-left: 0;
  margin-left: 39px;
  margin-right: 40px;
  margin-top: 40px;
}
.name-date {
  font-family: "lato";
  font-size: 14px;
  color: #7e7d7d;
  text-decoration: none;
}
.namelink {
  font-family: "lato";
  font-size: 14px;
  color: #7e7d7d;
  text-decoration: none;
  transition: 0.3s;
}
.namelink:hover {
  color: #be6748;
}
.headinglink {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Oswald";
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-top: 8px;
  margin-bottom: 0;
  color: #444444;
  text-decoration: none;
  transition: 0.3s;
}
.headinglink:hover {
  color: #be6748;
}
.article-social-icons {
  display: flex;
  align-items: center;
  color: #c2c2c2;
  padding-left: 0;
  padding-top: 5px;
  letter-spacing: 0.5px;
  text-decoration: none;
  list-style-type: none;
  color: #7e7d7d;
}
.article-social-icons > li > a {
  display: flex;
  align-items: center;
  color: #c2c2c2;
  padding-left: 0;
  padding-top: 5px;
  letter-spacing: 0.5px;
  text-decoration: none;
  list-style-type: none;
  transition: 0.3s;
}
.article-social-icons > li > a:hover {
  color: #be6748;
}
.article-social-icons > li > .fa-brands.fa-twitter {
  margin-left: 15px;
}
.article-social-icons > li > .fa-brands.fa-instagram {
  margin-left: 15px;
}
.article-social-icons > li > .fa-brands.fa-pinterest {
  margin-left: 16px;
}
.article-social-icons > li > .fa-brands.fa-google-plus-g {
  margin-left: 15px;
}
.side-blocks {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 25.2%;
  padding: 0;
  margin-left: 28px;
  margin-top: 51px;
  margin-bottom: 0px;
  border-radius: 1px;
}
.side1 {
  height: 546px;
  width: 100%;
  margin-bottom: 38px;
  background-color: #ffffff;
  border: 1px solid var(--borderline);
  position: relative;
}
.side2 {
  height: 987px;
  margin-bottom: 38px;
  background-color: #ffffff;
  border: 1px solid var(--borderline);
}
.side3 {
  height: 516px;
  margin-bottom: 38px;
  background-color: #ffffff;
  border: 1px solid var(--borderline);
}
.side4 {
  min-height: 576px;
  background-color: #ffffff;
  margin-bottom: 48px;
  border: 1px solid var(--borderline);
}
.oceanpic {
  max-height: 182px;
  width: 100%;
  z-index: 10;
  position: absolute;
}
.profilepic-box {
  width: 100%;
  height: 298px;
}
.profilepic {
  height: 194px;
  width: 54%;
  z-index: 20;
  border: 7px solid #ffffff;
  border-radius: 100%;
  position: absolute;
  margin-top: 97px;
  margin-left: 23%;
}
.side1 > h2 {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-top: 1px;
  margin-bottom: 0;
  color: #444444;
}
.side1 > p {
  display: flex;
  justify-content: center;
  font-family: "Lato";
  color: #7e7d7d;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 0;
  margin-right: 39px;
  margin-top: 20px;
  height: 120px;
  width: 100%;
  text-align: center;
}
.side-social-icons-list {
  display: flex;
  justify-content: center;
  width: 98%;
  list-style-type: none;
  padding: 0;
  margin-top: 4px;
  margin-left: 0px;
}
.side-social-icons > a {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #ececec;
  border-radius: 100%;
  padding: 6px;
  font-size: 14px;
  margin: 0 5px 0 4px;
  font-size: 13px;
  text-decoration: none;
  color: #a7a7a7;
}
.side-social-icons > a:hover {
  background-color: #be6748;
  color: #ffffff;
}
.side2 > h2 {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-top: 30px;
  margin-bottom: 0;
  color: #444444;
}
.beans1 {
  width: 300px;
  height: 200px;
  margin: 27px 0 0 30px;
}
.side2box1 {
  width: 300px;
  margin-left: 30px;
  border-bottom: 1px solid #e8e8e8;
}
.side2box1 > h3 {
  display: flex;
  width: 100%;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-top: 9px;
  color: #444444;
  margin-bottom: 0;
  font-stretch: semi-condensed;
}
.side2box1 > h4 {
  font-family: "lato";
  font-size: 14px;
  font-weight: 200;
  color: #7e7d7d;
  margin-top: 11px;
}
.beans2 {
  width: 300px;
  height: 200px;
  margin-top: 19px;
  margin-left: 30px;
}
.side2box2 {
  width: 300px;
  margin-left: 30px;
  border-bottom: 1px solid #e8e8e8;
}
.side2box2 > h3 {
  display: flex;
  width: 100%;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-top: 10px;
  color: #444444;
  margin-bottom: 0;
  font-stretch: semi-condensed;
}
.side2box2 > h4 {
  font-family: "lato";
  font-size: 14px;
  font-weight: 200;
  color: #7e7d7d;
  margin-top: 12px;
}
.beans3 {
  width: 300px;
  height: 200px;
  margin: 19px 0 0 30px;
}
.side2box3 {
  width: 300px;
  margin-left: 30px;
}
.side2box3 > h3 {
  display: flex;
  width: 100%;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-top: 10px;
  color: #444444;
  margin-bottom: 0;
  font-stretch: semi-condensed;
  font-size-adjust: 0.5;
}
.side2box3 > h4 {
  font-family: "lato";
  font-size: 14px;
  font-weight: 200;
  color: #7e7d7d;
  margin-top: 11px;
}
.side3 > h2 {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-top: 30px;
  margin-bottom: 0;
  color: #444444;
}
.side3box1 {
  width: 300px;
  height: 93px;
  margin-top: 26px;
  margin-left: 30px;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
}
.side3box1 > img {
  position: absolute;
  width: 103px;
  height: 76px;
}
.side3box1 > h3 {
  display: flex;
  width: 100%;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.5px;
  margin-top: 1px;
  margin-left: 118px;
  color: #444444;
  margin-bottom: 0;
  font-stretch: semi-condensed;
  font-size-adjust: 0.5;
  position: absolute;
}
.side3box1 > h4 {
  font-family: "lato";
  font-size: 14px;
  font-weight: 200;
  color: #7e7d7d;
  margin-top: 28px;
  margin-left: 118px;
  position: absolute;
}
.side3box2 {
  width: 300px;
  height: 93px;
  margin-top: 14px;
  margin-left: 30px;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
}
.side3box2 > img {
  position: absolute;
  width: 103px;
  height: 76px;
}
.side3box2 > h3 {
  display: flex;
  width: 100%;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.5px;
  margin-top: 1px;
  margin-left: 118px;
  color: #444444;
  margin-bottom: 0;
  font-stretch: semi-condensed;
  font-size-adjust: 0.5;
  position: absolute;
}
.side3box2 > h4 {
  font-family: "lato";
  font-size: 14px;
  font-weight: 200;
  color: #7e7d7d;
  margin-top: 28px;
  margin-left: 118px;
  position: absolute;
}
.side3box3 {
  width: 300px;
  height: 92px;
  margin-top: 14px;
  margin-left: 30px;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
}
.side3box3 > img {
  position: absolute;
  width: 103px;
  height: 76px;
}
.side3box3 > h3 {
  display: flex;
  width: 100%;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.5px;
  margin-top: 1px;
  margin-left: 118px;
  color: #444444;
  margin-bottom: 0;
  font-stretch: semi-condensed;
  font-size-adjust: 0.5;
  position: absolute;
}
.side3box3 > h4 {
  font-family: "lato";
  font-size: 14px;
  font-weight: 200;
  color: #7e7d7d;
  margin-top: 28px;
  margin-left: 118px;
  position: absolute;
}
.side3box4 {
  width: 300px;
  height: 92px;
  margin-top: 14px;
  margin-left: 30px;
  position: relative;
}
.side3box4 > img {
  position: absolute;
  width: 103px;
  height: 76px;
}
.side3box4 > h3 {
  display: flex;
  width: 100%;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.5px;
  margin-top: 1px;
  margin-left: 118px;
  color: #444444;
  margin-bottom: 0;
  font-stretch: semi-condensed;
  font-size-adjust: 0.5;
  position: absolute;
}
.side3box4 > h4 {
  font-family: "lato";
  font-size: 14px;
  font-weight: 200;
  color: #7e7d7d;
  margin-top: 28px;
  margin-left: 118px;
  position: absolute;
}
.side4 > h2 > a {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-top: 30px;
  margin-bottom: 0;
  color: #444444;
  text-decoration: none;
  transition: 0.3s;
}
.side4box1 {
  width: 83.6%;
  margin: 25px 8.2% 0 8.2%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.side4box1 > a {
  max-width: 145px;
  max-height: 145px;
  margin-bottom: 11px;
}
.side4box1 > a > img {
  width: 145px;
  height: 145px;
}
.page-buttons {
  display: flex;
  margin-left: 149px;
  margin-top: 0px;
  height: 36px;
}
.page-buttons > a > .button1 {
  background-color: var(--pagebutton);
  height: 100%;
  width: 34px;
  border: 1px solid var(--pagebuttonborder);
  color: var(--pagebuttonwhite1);
  font-family: "Oswald";
  font-size: 15px;
  font-weight: 300;
  transition: 0.3s;
}
.button2 {
  background-color: #ffffff;
  height: 100%;
  width: 35px;
  border: none;
  color: #444444;
  font-family: "Oswald";
  font-size: 15px;
  margin-left: 5px;
  padding: 0;
  border: 1px solid var(--pagebuttonborder);
  font-size: 15px;
  transition: 0.3s;
}
.button3 {
  background-color: #ffffff;
  height: 100%;
  width: 35px;
  border: none;
  color: #444444;
  font-family: "Oswald";
  font-size: 15px;
  margin-left: 5px;
  padding: 0;
  border: 1px solid var(--pagebuttonborder);
  font-size: 15px;
  margin-bottom: 1px;
  transition: 0.3s;
}
.button4 {
  background-color: #ffffff;
  height: 100%;
  width: 35px;
  border: none;
  color: #444444;
  font-family: "Oswald";
  font-size: 15px;
  margin-left: 5px;
  padding: 0;
  border: 1px solid var(--pagebuttonborder);
  font-size: 15px;
  margin-bottom: 2px;
  transition: 0.3s;
}
.page-buttons > a > button {
  background-color: #ffffff;
  height: 100%;
  width: 35px;
  border: none;
  font-family: "Oswald";
  font-size: 15px;
  margin-left: 5px;
  padding: 0;
  border: 1px solid var(--pagebuttonborder);
  font-size: 15px;
  margin-bottom: 1px;
  width: 42px;
  transition: 0.3s;
}
.fa-solid.fa-chevrons-right {
  color: black;
}
.button1:hover {
  background-color: #9e462b;
}
.button2:hover {
  background-color: #ca5c3b;
  color: #ffffff;
}
.button3:hover {
  background-color: #ca5c3b;
  color: #ffffff;
}
.button4:hover {
  background-color: #ca5c3b;
  color: #ffffff;
}
.button5:hover {
  background-color: #ca5c3b;
  color: #ffffff;
}
.footer-content {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 0;
  margin-top: 85px;
  height: 324px;
  background-color: #ffffff;
  border-top: 1px solid #eeeeee;
}
.footer-top {
  font-family: "Oswald";
  font-size: 18.5px;
  text-align: center;
  align-content: center;
  font-weight: 425;
  letter-spacing: 0.2px;
  width: 100%;
  height: 78px;
  padding-top: 26px;
  color: #444444;
}
.footer-pictures {
  display: flex;
  /* flex-wrap: wrap; */
  height: 180px;
  width: 100%;
  padding: 0;
  /* justify-content: space-between; */
  flex-basis: content;
  list-style-type: none;
}
.image-line {
  flex-grow: 1;
}
.image-line > img {
  max-height: 181px;
  min-width: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.image-line > img:hover {
  opacity: 0.3;
}
.footer-bottom {
  font-family: "Lato";
  font-size: 13px;
  text-align: center;
  align-content: center;
  font-weight: 425;
  letter-spacing: 0.45px;
  width: 100%;
  height: 65px;
  padding-top: 26px;
  color: var(--bottomfootertext);
  background-color: var(--bottomborderblack);
}
